<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshMart - Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <select name="role">
            <option value="normal">Customer</option>
            <option value="farmer">Vendors</option>
        </select><br>
        <button type="submit">Sign Up</button>
    </form>
    <h5>
        Already have an account? <a class="link" href="/login">Login</a>
    </h5>
</body>
</html>
