@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    text-align: center;
    background-color: #c0e1df;
}

.heading {
    margin-bottom: 1rem;
}

.container {
    height: 90vh;
    width: 85vw;
    margin: auto;
    background-image: url(../images/login_background.png);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.form-container {
    height: 70%;
    width: 35%;
    min-height: 250px;
    min-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.form-container>h2 {
    font-size: 2rem;
    margin: 1rem;
}

.form-group {
    margin: auto;
    margin-bottom: 15px;
}

.form-group input {
    display: block;
    margin: auto;
    height: 30px;
    width: 70%;
    min-width: 200px;
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.submit-btn {
    display: block;
    margin: 1rem auto;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #7c7272;
    font-size: 1rem;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

.submit-btn:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
}


.form-container p {
    text-decoration: none;
    color: white;
}

#forms {
    padding: 2rem;
    padding-top: 3rem;
}

h5 {
    margin: 10px auto;

}

h5 a {
    text-decoration: none;
}

.form-container p {
    margin-bottom: 1rem;
}

.form-container p a {
    text-decoration: none;
    color: white;
    font-size: 1.20rem;
}

.right {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    max-width: 500px;
}

.right>p {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
    max-width: 60rem;
}

/* img {
    max-width: 500px;
    margin-right: 2.5rem;
} */

.choices {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.choice {
    padding-right: 40px;
    opacity: 0.8;
    transition: 0.5s all ease-in-out;
    transform: scale(1);
}

.choice:hover {
    opacity: 1;
    transform: scale(1.1);
}

.lines::before {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    /* left: 93px; */
    background: rgb(0, 0, 0);
}

.lines {
    position: relative;
    max-width: 200px;
    /* margin: 10px 0 -10px 100px; */
    margin: auto;
    text-align: center;
}

.lines:after {
    content: " ";
    height: 2px;
    width: 50px;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
}

#error {
    color: red;
    font-size: 1rem;
}

@media screen and (max-width: 1500px) {
    .container {
        background-image: url("/images/small_login.png");
    }

    .form-group > input {
        min-width: 200px;
    }
}

@media screen and (min-width: 100px) and (max-width:1100px ) {
    .right {
        display: none;
    }

    .form-container {
        align-self:center;
    }

    .form-group > input {
        min-width: 200px;
    }
}

@media screen and (max-height:700px ) {
    .right {
        display: none;
    }

    .form-container {
        align-self:center;
    }

    #forms {
        padding: 5px;
    }

    .container {
        background-image: url("/images/small_login.png");
    }
}

@media screen and (min-height: 100px) and (max-height: 700px) {
    body{
        overflow: scroll;
    }
}